<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/home.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quizmato</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>Welcome to the Quizmato</h1>
  <app>
    <a href="/signup">Sign Up</a>
    <a href="/login">Log in</a>
    <a href="/docm">Documentation</a>
    <a href="/leaderboard">Leaderboard</a>
  </app>
</body>
</html>